@import 'variables.scss';

#section-4{
  max-width: 100%;
  .section4-wrapper{
    padding: 5rem;

    .section4-content{
      font-weight: 600;
      .section4-header{
        text-align: center;

        h2{
          font-size: $smaller-heading-size;
          color: $Dark-Grayish-Blue;
          margin-top: 2rem;
        }
        p{
          color: $Grayish-Blue;
          margin-top: 1rem;
        }
      }
    
      .section4-boxes{
        height: auto;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        align-items: center;

        .section4-box{
          padding: 1rem;
          transition: all 0.4s ease;

          &:hover{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          }
        }
        h3{
          margin-top: 2rem;
          color: $Dark-Grayish-Blue;
        }
        p{
          margin-top: 1rem;
          line-height: 2rem;
          color: $Grayish-Blue;
        }
      }
    }
  }
}

// responsive design

@media (max-width: 768px) {
  #section-4{
    .section4-wrapper{
      .section4-content{
        .section4-boxes{
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, 1fr);
        }
      }
    }
  }
}