@import 'variables.scss';
#section-2{
  max-width: 100%;
  .section2-wrapper{
    .section2-content{
      .section2-header{
        margin-top: 5rem;
        text-align: center;

        :not(p){
          margin-top: 2rem;
        }
        p{
          margin-top: 1rem;
          color: $Grayish-Blue;
        }

        h2{
          font-size: $smaller-heading-size;
          color: $Dark-Grayish-Blue;
        }
      }
    
    // computer
    .section2-computer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
      align-items: center;
      margin-top: 5rem;
    
      .section2-boxes{
        display: flex;
        flex-direction: column;
        
        .section2-box{
          cursor: pointer;
          margin-bottom: 2rem;
          padding: 1rem;
          width: max-content;
          transition:all 0.4s ease;


          &:hover{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          }
          h3{
            color: $Dark-Grayish-Blue;
          }
          p{
            margin-top: 1rem;
            line-height: 1.5rem;
            color: $Grayish-Blue;
          }
        }
      }
    }
    }
  }
}


// responsive design

@media (max-width: 1150px) {
  .section2-computer{
    .computer{
      img{
        max-width: 600px;
      }
    }
  }
}

@media (max-width: 950px) {
  #section-2{
    .section2-wrapper{
      .section2-content{
        .section2-computer{
          display: flex;
          flex-direction: column;
          text-align: center;

          .section2-boxes{
            .section2-box{
              align-self: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .section2-content{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 460px) {
  .section2-computer{
    .computer{
      img{
        width: 400px;
      }
    }
  }
}