@import 'variables.scss';

#section-5{
  max-width: 100%;

  .section5-wrapper{
    padding: 5rem;

    .section5-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// responsive design

@media (max-width: 1150px) {
  #section-5{
    .section5-wrapper{
      .section5-content{
        img{
          max-width: 125px;
          padding-top: 3rem;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  #section-5{
    .section5-wrapper{
      .section5-content{
        flex-direction: column;
      }
    }
  }
}